<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href='/'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
    <style>
        #profile-pic{
            height: 5em ;
            width: 5em ;
            border-style: solid;
            object-fit: cover;
        }
        p{
            display: inline-block;
        }
        small{
            color: red;
            background-color: rgba(255,0,0,.2)
        }
    </style>
     
</head>
<body>
    <% include ../partials/nav.ejs %>
    <main>
        <h2 align="center"><%=post.caption%></h2>
        <a href="/users/<%=post.user._id%>"><h2>User-<%=post.user.username%></h2></a>
        <img src="<%=post.img%>" style="width: 50%" class="center"></a>
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST">
            <input type="text" name= "caption">
            <input type="submit" value="Edit Caption">
        </form>

        <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Post">
        </form>
    
        
        
    </main>
</body>
</html>